/*
 * profile location can be found in:
 *
 * Unix/Linux 	~/.mozilla/
 * Mac OS X 	~/Library/Application Support/Firefox/Profiles/<profile>.default/chrome/
 *
 * e.g.
 * ~/.mozilla/firefox/<profile>.default/chrome/
 * the `chrome` folder might need to be created first
 */

/* Change blue line above tabs to green */
:root:-moz-lwtheme {
  --tab-line-color: #79c879 !important;
}

/* Change tab-line width to 1 px*/
.tab-line {
  height: 1px !important;
}

/* Remove blue border when urlbar in focus */
#urlbar[focused="true"],
.searchbar-textbox[focused="true"] {
  border-color: transparent !important;
  box-shadow: none !important;
}

/* Show tab close on hover only */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
  visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
}
