@import "css/common-files/color_variables.css";
@import "css/common-files/trees.css";
@import "css/common-files/checkboxes.css";

@import "css/userChrome-files/about_firefox.css";
@import "css/userChrome-files/address_searchbar.css";
@import "css/userChrome-files/bookmarks_popup.css";
@import "css/userChrome-files/common_dialog.css";
@import "css/userChrome-files/context_menus.css";
@import "css/userChrome-files/customization_page.css";
@import "css/userChrome-files/findbar.css";
@import "css/userChrome-files/library.css";
@import "css/userChrome-files/navbar_menus.css";
@import "css/userChrome-files/page_info.css";
@import "css/userChrome-files/remove_bookmarks_bottom_border.css";
@import "css/userChrome-files/remove_white_flash.css";
@import "css/userChrome-files/secure_connection_colors.css";
@import "css/userChrome-files/sidebar.css";
@import "css/userChrome-files/status_panel.css";


/* Personal customizations */

:root {
/* Override previously defined colors in color_variables */
--in-content-page-color: var(--tone-2) !important;
--in-content-page-background: var(--tone-6) !important;
}

/* Change tab line color and thickness */
.tab-line[selected=true] {
    background-color: #79C879 !important;
    height: 1px !important;
}

/* Remove blue border when urlbar in focus */
#urlbar[focused=true],
.searchbar-textbox[focused=true] {
  box-shadow: none !important;
  border-color: transparent !important;
    }

/* Show tab close on hover only */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
  visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
}