/* Change tab line color and thickness */
.tab-line[selected=true] {
    background-color: #79c879 !important;
    height: 1px !important;
}

/* Show tab close on hover only */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
  visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
}